html{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FBE9D0;
}

.header{
    outline: red;
    background-color: #244855;
    padding: 8px;
    margin-bottom: 15px;
}

#title{
    /* outline: blue solid 3px; */
    width: 290px;
    background-color: #E64833;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    border-radius: 40px;
    padding: 5px 0;
}
.container{
    /* outline: red solid; */
    height: 900px;
    display: flex;
}

.left{
    /* outline: red solid; */
    background-color: #90AEAD;
    width: 250px;
    border-radius: 15px;
    margin-top: 10px;
    position: sticky;
    top: 85px;
    float:left;
}
.lefttext{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#FFF;
}

.list{
    border-radius: 10px;
    width: 500px;
    background-color: whitesmoke;
    padding: 15px 15px 40px;
    margin: 10px 15px 0 90px;
}
h3 {
    color: #244855;
}
ul{
    list-style-type: none;
    padding: 0;
}

.recipelink {
    display: inline-block;
    color: #000;
    text-decoration: none;
    border: solid 2px #E64833;
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
}
.recipelink:hover {
    color: #fff;
    text-decoration: none;
    background-color: #E64833;
}
.homebtn{
    font-size: 24px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    border: solid 2px #1FA7DC;
    border-radius: 10px;;
    margin: 8px;
    padding: 8px;
    position: sticky;
    top: 20px;
}
.homebtn:hover {
    color:#fff;
    text-decoration: none;
    background-color: #1FA7DC;
}

.recipename{
    border: #874F41 solid 3px;
    border-radius: 30px;
    background-color:whitesmoke ;
    color:#244855;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: auto;
    margin: 5px auto;
}

.imgrecipe {
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    width: 800px;
    height: auto;
}

.content{
    width: 800px;
    display: block;
    margin: 40px auto;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    border: dotted 6px #244855;
}

